<footer>
    <div>
        <p>© 2020 Alex J Bustillos <a href="https://github.com/AlexJBustillos/Loud-and-Green">Github</a>
        <a href="https://www.linkedin.com/in/alexjbustillos/">LinkedIn</a></p>
    </div>
</footer>