<nav>
  <div class="nav-left">
    <a href="/">Loud and Green</a>
  </div>
  <div class="nav-right">
    <% if (!currentUser) { %>
      <a href="/auth/signup">Signup</a>
      <a href="/auth/login">Login</a>
    <% } else { %> 
      <a href="/auth/logout">Logout</a>
      <a href="/profile">Profile</a>
      <a href="/strains">Strains</a>
    <% } %> 

  </div>
</nav>
  
  
  
    