<h1>404: File not Found</h1>
<h1><a href="/">Loud and Green</a></h1>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZH5xxMy3YTJ5efCmV2FPq_tW9kbckzITBLw&usqp=CAU" alt="Not again: Head in Palms">

