<h1>Loud<br>And<br>Green</h1>

<h2>Lets get aquainted</h2><br>
<a href="/auth/signup"><button>SIGN UP</button></a>
<div>
    <h3>Your resource for marijuana information on over 2000 strains</h3>
    <h3><a href="/strains">Browse Strains</a></h3>
</div>

