
<div class="header">
    <div>
        <h1>Loud<br>And<br>Green</h1>
    
    </div>
    
</div>

<div>
    <h3>Your resource for marijuana information on over 2000 strains. Please be advised that this is for educational purposes only.</h3>
    <p>Please log in or sign up. Once you do, you will be promt to your profile page and can begin searching for strains by accessing the search page on the top right of the screen.</p>
</div>


<div>
    <h2>Lets get aquainted</h2><br>
    <a href="/auth/signup"><button>SIGN UP</button></a>
    <a href="/auth/login"><button>LOGIN</button></a>
    
</div>


