<h2>Welcome</h2>

<form action="/strains" method="GET">
    <label for="name">Search for strain</label>
    <input type="text" name="name" id="name">
    <button style="height:25px; width:50px"  type="submit">Submit</button>
</form>