
<div class="header">
    <div>
        <h1>Loud<br>And<br>Green</h1>
    
    </div>
    
</div>

<div>
    <h3>Your resource for marijuana information on over 2000 strains</h3>
</div>


<div>
    <h2>Lets get aquainted</h2><br>
    <a href="/auth/signup"><button>SIGN UP</button></a>
    <a href="/auth/login"><button>LOGIN</button></a>
    
</div>


