<h1>Effects</h1>

<ul> <% effects.forEach(effect => { %>
    <li><strong>Pros:</strong><%= effect.positive %></li>
    <li><strong>Cons:</strong><%= effect.negative %></li>
    <li><strong>Helps with:</strong><%= effect.medical %></li>
<% }) %> 

</ul>