
<div class="header">
   <h2> <strong>Strains</strong> </h2><br>
   
   
</div>
<form action="/strains/search" method="GET">
   <label for="name">Search for strain</label>
   <input type="text" name="name" id="name">
   <button type="submit">Submit</button>
</form>

<div class="container">
   <% strain.forEach(strain => { %>
      <h2>Click for details: <a href="strains/details/<%= strain.strainId %> "><strong><%= strain.name %> </strong></a></h2>
      
      <% }) %> 
</div>
      
      
   



         
    
