<div class="header">
    <h1>Edit name below</h1>
</div>


<div class="container">
    
    <form method="POST" action="/profile/edit/<%= user.id %>?_method=PUT" >
    <label for="name">New Name</label>
    <input type="text" name="name" id="name" value="<%= user.name %> ">
    <button type="submit">Submit</button>
    </form>
</div>